.bg {
  position: relative;
  min-height: 1px;

  &::before {
    content: ' ';
    position: absolute;
    width: 100%;
    height: 140px;
    background-repeat: no-repeat !important;
    background-position: center top;
    display: block;
    opacity: 0.5;
  }

  &.bg-offset {
    &::before {
      top: 70px;
    }
  }

  &.bg-left {
    &::before {
      background-position: left center;
    }
  }

  &.bg-right {
    &::before {
      background-position: right center;
    }
  }

  &.chemist::before {
    background-image: url('/images/chemist.png');
  }

  &.dice::before {
    background-image: url('/images/dice-inv.png')
  }

  &.fifty::before {
    background-image: url('/images/slots-inv.png')
  }

  &.looney::before {
    background-image: url('/images/looney-inv.png');
  }

  &.lottery::before {
    background-image: url('/images/ticket-inv.png')
  }

  &.rules::before {
    background-image: url('/images/manual.png');
  }

  &.warning::before {
    background-image: url('/images/notice-inv.png');
  }

  &.present::before {
    background-image: url('/images/present-inv.png');
  }
}
