.hidden {
  display: none;
}

.visible {
  display: block;
}

tr.visible {
  display: table-row;
}

span.visible {
  display: inline-block;
}

.normal {
  font-size: $font-size-default;
}

.large {
  font-size: $font-size-large;
  font-family: $font-heading;
  margin-bottom: -20px;
}

.medium {
  font-size: $font-size-medium;
  font-family: $font-heading;
}

.small {
  font-size: $font-size-small;
}

.thin {
  font-weight: 100;
}

.bold {
  font-weight: 700;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.border {
  border-bottom: 1px solid $color-font-white;
}
