$opacity: 0.9;

*[color="white"] {
  color: $color-font-base;

  &[opacity] {
    color: $color-font-gray;
    background: rgba(255, 255, 255, $opacity);
  }
}

*[color="blue"] {
  color: $color-font-white;
  background: rgb(33, 150, 243);

  &[opacity] {
    background: rgba(33, 150, 243, $opacity);
  }
}

*[color="blue-light"] {
  color: $color-font-white;
  background: rgb(81, 173, 246);

  &[opacity] {
    background: rgba(81, 173, 246, $opacity);
  }
}

*[color="blue-dark"] {
  color: $color-font-white;
  background: rgb(30, 136, 229);

  &[opacity] {
    background: rgba(30, 136, 229, $opacity);
  }
}

*[color="blue-gray"] {
  color: $color-font-white;
  background: rgb(59, 70, 85); // rgb(38, 49, 55);

  &[opacity] {
    background: rgba(59, 70, 85, $opacity);
  }
}

*[color="blue-gray-dark"] {
  color: $color-font-white;
  background: rgb(48, 57, 70); //rgb(84, 110, 122);

  &[opacity] {
    background: rgba(48, 57, 70, $opacity);
  }
}

*[color="brown"] {
  color: $color-font-white;
  background: rgb(85, 74, 59);

  &[opacity] {
    background: rgba(85, 74, 59, $opacity);
  }
}

*[color="brown-light"] {
  color: $color-font-white;
  background: rgb(115, 100, 80);

  &[opacity] {
    background: rgba(115, 100, 80, $opacity);
  }
}

*[color="brown-dark"] {
  color: $color-font-white;
  background: rgb(70, 61, 49);

  &[opacity] {
    background: rgba(70, 61, 49, $opacity);
  }
}

*[color="gray"] {
  color: $color-font-gray;
  background: rgb(238, 238, 238);

  &[opacity] {
    background: rgba(238, 238, 238, $opacity);
  }
}

*[color="gray-dark"] {
  color: $color-font-white;
  background: rgb(97, 97, 97);

  &[opacity] {
    background: rgba(97, 97, 97, $opacity);
  }
}

*[color="green"] {
  color: $color-font-white;
  background: rgb(76, 175, 80);

  &[opacity] {
    background: rgba(76, 175, 80, $opacity);
  }
}

*[color="green-dark"] {
  color: $color-font-white;
  background: rgb(68, 157, 72);

  &[opacity] {
    background: rgba(68, 157, 72, $opacity);
  }
}

*[color="indigo"] {
  color: $color-font-white;
  background: rgb(53, 73, 162);

  &[opacity] {
    background: rgba(53, 73, 162, $opacity);
  }
}

*[color="indigo-dark"] {
  color: $color-font-white;
  background: rgb(43, 56, 124);

  &[opacity] {
    background: rgba(43, 56, 124, $opacity);
  }
}

*[color="orange"] {
  color: $color-font-white;
  background: rgb(255, 162, 26);

  &[opacity] {
    background: rgba(255, 162, 26, $opacity);
  }
}

*[color="orange-light"] {
  color: $color-font-gray;
  background: rgb(255, 224, 178);

  &[opacity] {
    background: rgba(255, 224, 178, $opacity);
  }
}

*[color="orange-dark"] {
  color: $color-font-white;
  background: rgb(255, 134, 0);

  &[opacity] {
    background: rgba(255, 134, 0, $opacity * 0.8);
  }
}

*[color="red"] {
  color: $color-font-white;
  background: rgb(244, 67, 54);

  &[opacity] {
    background: rgba(244, 67, 54, $opacity);
  }
}

*[color="red-dark"] {
  color: $color-font-white;
  background: rgb(186, 22, 11);

  &[opacity] {
    background: rgba(186, 22, 11, $opacity);
  }
}

*[color="red-light"] {
  color: $color-font-white;
  background: rgb(247, 112, 102);

  &[opacity] {
    background: rgba(247, 112, 102, $opacity);
  }
}
