h2 {
  // color: $color-font-gray;
  opacity: 0.9;
  margin: 0 0 0.5em 0;
  font-family: $font-heading;
  font-size: $font-size-medium;
}

li+li, li>ol, li>ul {
  margin-top: 0.75em;
  line-height: $golden-ratio;
}

a {
  color: $color-link;
  text-decoration: none;
  cursor: pointer;

  iron-icon {
    color: $color-link;
  }

  &, &:visited {
    color: $color-link;
  }
}

p {
  line-height: $golden-ratio;
  margin: 0;
  -webkit-margin: 0em;
}

p+p {
  margin-top: $golden-ratio;
}
