h2, h3 {
  color: $color-font-gray;
  margin: 0 0 1em 0;
}

li+li, li>ol, li>ul {
  margin-top: 0.75em;
}

p {
  line-height: 1.75em;
  margin: 0;
  -webkit-margin: 0em;
}

p+p {
  margin-top: 1.5em;
}
