@import "../../../base";
@import "../style";

:host {
  display: block;
}

.stats {
  @include outer-container;
  text-align: center;

  .stat {
    @include span-columns(4);
  }
}

.about {
  color: $color-font-gray;

  @include span-columns(4);
}

.entries {
  @include span-columns(8);
}
