link(rel="import" href="/components/bower/polymer/polymer.html")
link(rel="import" href="/components/bower/iron-icons/iron-icons.html")

link(rel="import" href="/components/3rdparty/lodash.html")
link(rel="import" href="/components/3rdparty/web3.html")
link(rel="import" href="/components/api/api.html")
link(rel="import" href="/components/datetime/datetime.html")
link(rel="import" href="/components/number/number.html")
link(rel="import" href="/components/page/page.html")
link(rel="import" href="/components/pubsub/pubsub.html")
  
dom-module#xyz-game-fifty
  template
    style !{readCompiled('fifty.css')}
    
    xyz-api#api
    xyz-pubsub#pubsub
    
    xyz-page-section.hidden(color="brown" opacity class$="[[visibleClass(current, 'ratio')]]")
      .stats
        .stat
          .large {{current.wins}}
          .normal wins
        .stat
          .large {{current.ratio}}
          .normal won
        .stat
          .large {{current.turnover.value}}
          .normal {{current.turnover.unit}} played
        
    xyz-page-section(color="brown-dark" opacity size="small" shadow)
      .hidden(class$="[[visibleClass(config, 'price')]]")
        .contract.right
          xyz-number-wei(number="{{config.min}}")
          span &nbsp;-&nbsp;
          xyz-number-wei(number="{{config.max}}")
          iron-icon(icon="icons:input")
          span {{config.addr}}
          
    xyz-page-section.hidden(color$="{{lastColor(winner)}}" size="small" class$="[[visibleClass(winner, 'ptxs')]]")
      .center.winner
        iron-icon(icon="icons:timeline")
        span {{winner.pwins}}/{{winner.ptxs}} {{winner.pratio}}
        iron-icon(icon="icons:account-balance")
        xyz-number-wei(number="{{winner.output}}" max)
        iron-icon(icon="icons:trending-flat")
        iron-icon(icon="icons:perm-identity")
        span {{winner.addr}}
        iron-icon(icon="icons:history")
        xyz-datetime-elapsed(datetime="{{winner.at}}")
          
    xyz-page-section.hidden(class$="[[visibleClass(config, 'price')]]")
      .about(color="gray")
        h2 about
        p.
          Send in multiple tickets, each having a <span class="bold">50% chance</span> of winning. Winning means adding <span class="bold">50% of the pool</span> to the ticket, where a pool exists for digit position. Losing means the ticket gets added to the relevant digit pool.
        p.
          The caveat? You need to be lucky and time your wins to grab the largest pot available. Even when unlucky, you could be lucky and when you are lucky, you could be unlucky.
        p.
          The most looney game this side of playing chicken.
          
      .entries
        h2 recent plays
        table: tbody: template(is="dom-repeat" items="{{players}}")
          tr.entry
            td.addr(colspan="3")
              iron-icon(icon="icons:perm-identity")
              span {{item.addr}}
            td.max(rowspan="2")
              a(href$="https://etherscan.io/tx/{{item.txhash}}" target="_blank")
                iron-icon(icon="icons:open-in-new")
                span etherscan
            td.when(rowspan="2")
              iron-icon(icon="icons:history")
              xyz-datetime-elapsed(datetime="{{item.at}}")
          tr.data
            td.input
              iron-icon(icon="icons:input")
              xyz-number-wei(number="{{item.input}}" max)
            td.win
              iron-icon(icon="icons:timeline")
              span {{item.pwins}}/{{item.ptxs}}
            td.output
              iron-icon(icon="icons:account-balance")
              xyz-number-wei(number="{{item.output}}" max)
        
    xyz-page-section.hidden(color="gray" opacity class$="[[visibleClass(config, 'price')]]")
      h2 operation and rules
      ol
        li To enter, send between <xyz-number-wei number="{{config.min}}" class="bold"></xyz-number-wei> and <xyz-number-wei number="{{config.max}}" class="bold"></xyz-number-wei> to <span class="bold">{{config.addr}}</span>
        li
          |Every <span class="bold">digit position plays a pool</span> with 1/10 of the position euqalling a ticket, e.g
          ul
            li 0.05 ether will but 5 tickets
            li 0.6 ether will buy 6
            li 0.31 ether will buy 4 (3 + 1)
        li A maxium <span class="bold">bet of <xyz-number-wei number="{{config.max}}"></xyz-number-wei> is 27 tickets</span>, allocated from 3 different pools and evaluated as such.
        li Any value not an <span class="bold">exact multiple of the smallest bet</span> will be returned, while playing the divisible amount
        li Each ticket is <span class="bold">evaluated in sucession</span>, with each having a seperate win/lose result
        li A win allocates <span class="bold">50% of the available pool</span> to your returns, at the same time returning the value of one ticket
        li A loss <span class="bold">returns the value</span> of the ticket to the pool, this new pool value is used in subsequent calculations
        li Winning &gt;50% of tickets may result in an <span class="bold">overall loss</span>, losing &gt;50% of tickets may result in an <span class="bold">overall win</span>
        li You can <span class="bold">play as many times</span> as you like, with as many tickets as you like
        li The game operates on a <span class="bold">{{config.edge}}% commission</span>, this is subtracted from the amount won by each ticket
        
  script !{readCompiled('fifty.js')}
