link(rel="import" href="/components/bower/polymer/polymer.html")
link(rel="import" href="/components/bower/iron-icons/iron-icons.html")
link(rel="import" href="/components/bower/paper-button/paper-button.html")

link(rel="import" href="/components/3rdparty/lodash.html")
link(rel="import" href="/components/api/api.html")
link(rel="import" href="/components/datetime/datetime.html")
link(rel="import" href="/components/game/game.html")
link(rel="import" href="/components/number/number.html")
link(rel="import" href="/components/page/page.html")
link(rel="import" href="/components/pubsub/pubsub.html")
  
dom-module#xyz-game-fifty
  template
    style !{readCompiled('fifty.css')}
    
    xyz-api#api
    xyz-pubsub#pubsub
    
    include _top.jade
    include _about.jade
    include _entries.jade
    include _rules.jade
    
  script !{readCompiled('fifty.js')}
