link(rel="import" href="/components/bower/polymer/polymer.html")

link(rel="import" href="/components/3rdparty/lodash.html")
  
dom-module#xyz-quip
  template {{quip}}
  
  script !{readCompiled('quip.js')}
