xyz-page-section.hidden(class$="[[visibleClass(config, 'min')]]")
  .entries: table: tbody: template(is="dom-repeat" items="[[players]]")
    tr.entry
      td.sender
        iron-icon(icon="icons:perm-identity")
        span [[item.sender]]
      td.sender
        iron-icon(icon="icons:input")
        xyz-number-wei(number="[[item.input]]")
      td.output
        span(class$="[[hideZero(item.payout)]]")
          iron-icon(icon="icons:account-balance")
          xyz-number-wei(number="[[item.output]]" max)
          iron-icon(icon="icons:arrow-forward")
          iron-icon(icon="icons:perm-identity")
          span [[item.receiver]]
      td.when
        iron-icon(icon="icons:history")
        xyz-datetime-elapsed(datetime="[[item.at]]")
      td.external
        a(href$="https://etherscan.io/tx/[[item.txhash]]" target="_blank")
          iron-icon(icon="icons:open-in-new")
          span etherscan
