extends ../_template_about.jade

block about
  p.
    Take a chance on the outcome of the throw of a dual dice, allowing for <span class="bold">exact outcomes</span>, a <span class="bold">range of outcomes</span> or the <span class="bold">odd &amp; even</span> nature of a result. Send a transaction with your desire, wait for the dice rolls and enjoy the benefits.
  
  p.
    Simply sending a transaction to the contract will roll the dice and determine winners based on whether the result is <span class="bold">even or not</span> with a 50% chance. Users with software such as Mist can fine-tune their entry, asking for evaulation of a specific range, outcome and probability.
  
  p.
    Throwing snake-eyes can be looney, having it here is indeed looney.
  
block details
  p.
    Predicting an even sum is frictionless, just send/deposit any amount to the contract and payouts will be calculated.
  
  p.
    Any values &gt;max will be returned immediately without evaluation, as will predictions that could <span class="bold">exceed a 5% payout</span> of the total available fund-pool, ensuring that the show can go on for all players.
    
  p.
    Calling the <span class="bold">enter</span> function on the contract (via the ABI), allows for the override of the default prediction, with a number between 0 and 129 predicting an outcome, either a spacific outpume or a outcome range, with a dynamic, real-world probability. For a description of this approach, view the the <span class="bold">operation and rules</span> section.
