xyz-page-section
  .entries
    table: tbody: template(is="dom-repeat" items="{{players}}")
      tr.entry
        td.addr(colspan="3")
          iron-icon(icon="icons:perm-identity")
          span {{item.addr}}
        td.max(rowspan="2")
          a(href$="https://etherscan.io/tx/{{item.txhash}}" target="_blank")
            iron-icon(icon="icons:open-in-new")
            span etherscan
        td.when(rowspan="2")
          iron-icon(icon="icons:history")
          xyz-datetime-elapsed(datetime="{{item.at}}")
      tr.data
        td.input
          iron-icon(icon="icons:input")
          xyz-number-wei(number="{{item.input}}")
        td.win
          iron-icon(icon="icons:timeline")
          span {{item.wins}}/{{item.plays}}
        td.output
          iron-icon(icon="icons:account-balance")
          xyz-number-wei(number="{{item.output}}" max)
