link(rel="import" href="/components/bower/polymer/polymer.html")
link(rel="import" href="/components/bower/iron-ajax/iron-request.html")

link(rel="import" href="/components/3rdparty/lodash.html")

dom-module#xyz-api
  script !{readCompiled('api.js')}
