:host {
  display: block;
}

.stats {
  @include outer-container;
  text-align: center;

  .icon {
    @include span-columns(4);
  }

  .stat {
    @include span-columns(4);
  }
}

iron-icon {
  color: $color-font-gray-light;
  margin: 0 0.35em 0 1em;

  &.minpad {
    margin: 0 0.35em 0 0.35em;
  }
}

iron-icon+iron-icon {
  margin: 0 0.35em 0 0.65em;
}

.contract {
  text-align: right;
  position: relative;

  * {
    vertical-align: middle;
  }

  iron-icon {
    margin: 0 1em;
  }

  .btnbar {
    position: absolute;
    left: 0;
    bottom: 0;

    paper-button {
      margin: 0 1em;
      vertical-align: middle;
      text-transform: none;

      iron-icon {
        color: inherit; //#ffff8d;
        vertical-align: middle;
        margin: 0 0 0 0.5em;
      }
    }
  }

  xyz-number-wei {
    @include user-select(none);
  }
}

.winner {
  * {
    vertical-align: middle;
  }
}

.has-about {
  display: none;
  cursor: pointer;
  position: relative;

  .overview, .details {
    @include span-columns(6);
  }
}

.has-abi {
  display: none;
  position: relative;

  .details {
    padding: 2em;
    font-family: monospace;
  }
}

.has-about, .has-abi {
  .close {
    cursor: pointer;
    position: absolute;
    top: 2em;
    right: 2em;
    color: inherit;
  }
}

:host.about {
  .has-about {
    display: block;
    @include animFadeIn;
  }
}

:host.abi {
  .has-abi {
    display: block;
    @include animFadeIn;
  }
}

.entries {
  table {
    width: 100%;
    border-collapse: collapse;

    thead th {
      text-align: left;
      white-space: nowrap;
      padding-bottom: 0.5em;

      * {
        vertical-align: middle;
      }

      iron-icon {
        margin-left: 0;
      }
    }

    tbody tr {
      @include animFadeIn;

      &:nth-child(odd) {
        background: rgb(238, 238, 238);
      }

      td {
        text-align: left;
        padding: 0.5em 1em 0.5em 0;
        white-space: nowrap;
        line-height: $golden-ratio;

        * {
          vertical-align: middle;
        }

        &.round, &.tickets {
          text-align: center;
        }

        &.external {
          a {
            text-decoration: none;

            iron-icon {
              color: $color-link;
            }

            &, &:visited {
              color: $color-link;
            }
          }
        }
      }
    }
  }
}
