iron-icon {
  color: $color-font-gray-light;
  margin: 0 0.35em 0 1em;

  &.minpad {
    margin: 0 0.35em 0 0.35em;
  }
}

iron-icon+iron-icon {
  margin: 0 0.35em 0 0.65em;
}

.contract {
  text-align: right;
  position: relative;

  * {
    vertical-align: middle;
  }

  iron-icon {
    margin: 0 1em;
  }

  .btnbar {
    position: absolute;
    left: 0;
    bottom: 0;

    paper-button {
      margin: 0 1em;
      vertical-align: middle;
      text-transform: none;

      iron-icon {
        color: inherit; //#ffff8d;
        vertical-align: middle;
        margin: 0 0 0 0.5em;
      }
    }
  }

  xyz-number-wei {
    @include user-select(none);
  }
}

.winner {
  * {
    vertical-align: middle;
  }
}

.has-about {
  display: none;
  cursor: pointer;

  .overview, .details {
    @include span-columns(6);
  }
}

:host.about {
  .has-about {
    display: block;
  }
}

.entries {
  table {
    width: 100%;
    border-collapse: collapse;

    tr {
      @include animFadeIn;

      td {
        text-align: left;
        padding: 0;
        white-space: nowrap;

        * {
          vertical-align: middle;
        }

        &.when {
          width: 100%;
        }

        &.external {
          text-align: center;

          a {
            text-decoration: none;

            iron-icon {
              color: $color-link;
            }

            &, &:visited {
              color: $color-link;
            }
          }
        }

        &.addr {
          text-align: left;
        }
      }
    }

    tr+tr {
      td {
        padding-top: 1em;
      }
    }
  }
}
