iron-icon {
  color: $color-font-gray-light;
  margin: 0 0.35em 0 1em;

  &.minpad {
    margin: 0 0.35em 0 0.35em;
  }
}

iron-icon+iron-icon {
  margin: 0 0.35em 0 0.65em;
}

.contract {
  text-align: right;

  * {
    vertical-align: middle;
  }

  iron-icon {
    margin: 0 1em;
  }

  xyz-number-wei {
    @include user-select(none);
  }
}

.winner {
  * {
    vertical-align: middle;
  }
}
