link(rel="import" href="/components/bower/polymer/polymer.html")

link(rel="import" href="/components/3rdparty/lodash.html")
  
dom-module#xyz-game-styles
  template
    style !{readCompiled('game.css')}
    
dom-module#xyz-game
  template
  
  script !{readCompiled('game.js')}
