extends ../_template_rules.jade

block rules
  ol
    li To enter, send between <xyz-number-wei number="[[config.min]]" class="bold"></xyz-number-wei> and <xyz-number-wei number="[[config.max]]" class="bold"></xyz-number-wei> to <span class="bold">[[config.addr]]</span>
    
    li There is only <span class="bold">one winner per round</span>, the randomly selected address collects the full pool minus the applicable commission
    
    li Every <xyz-number-wei number="[[config.price]]" class="bold"></xyz-number-wei> you send (an entry) buys one ticket, any value not a multiple of this will be returned
    
    li You can <span class="bold">enter as many times</span> as you like, with as many tickets per entry as you like
    
    li Tickets are automatically <span class="bold">allocated based on the value</span> you have sent
    
    li The game will finish a round when the timer expires and <span class="bold">at least [[config.minentries]] entries</span> are made
    
    li When <span class="bold">the maxiumum [[config.maxentries]] entries/transactions</span> are received the round will finish, regardless of the number of tickets per entry or time elapsed
    
    li The game operates on a <span class="bold">[[config.edge]]% commission</span>, this is subtracted from the amount paid to the winner at the end of each round
    
    li To add the contract to your wallet, either to watch or interact with directly, use the <a on-click="toggleAbi">provided ABI</a>
  
  include ../_template_abi.jade
