xyz-page-section(color="blue-dark")
  .stats
    .icon.bg.lottery
    .stat
      .large
        xyz-datetime-countdown(datetime="{{current.end}}" format="(long)")
      .normal remaining
    .stat
      .large {{getValue(current.poolval)}}
      .normal {{getValue(current.poolunit, '')}} pool
      
xyz-page-section(color="green" size="small")
  .center.winner
    iron-icon(icon="icons:donut-large")
    span round {{getValue(winner.round)}}
    iron-icon(icon="icons:account-balance")
    xyz-number-wei(number="{{getValue(winner.value, '0')}}")
    iron-icon(icon="icons:trending-flat")
    iron-icon(icon="icons:perm-identity")
    span {{getValue(winner.addr, '0x0000000000000000000000000000000000000000')}}
    iron-icon(icon="icons:history")
    xyz-datetime-elapsed(datetime="{{getValue(winner.at, '-')}}")
    
xyz-page-section(color="blue-dark" size="small")
  .contract.right
    xyz-number-wei(number="{{getValue(config.min, '0')}}")
    span &nbsp;-&nbsp;
    xyz-number-wei(number="{{getValue(config.max, '0')}}")
    iron-icon(icon="icons:input")
    span {{getValue(config.addr, '0x0000000000000000000000000000000000000000')}}
