@import "../../../base";

:host {
  display: block;
}

.stats {
  @include outer-container;
  text-align: center;

  .entries, .round, .time, .pool {
    @include span-columns(3);
  }
}

iron-icon {
  color: $color-font-gray-light;
  margin: 0 0.35em 0 1em;

  &.minpad {
    margin: 0 0.35em 0 0.35em;
  }
}

iron-icon+iron-icon {
  margin: 0 0.35em 0 0.65em;
}

.contract {
  text-align: right;

  * {
    vertical-align: middle;
  }

  iron-icon {
    margin: 0 1em;
  }

  xyz-number-wei {
    @include user-select(none);
  }
}

.winner {
  * {
    vertical-align: middle;
  }
}

.entries {
  text-align: center;

  table {
    border-collapse: collapse;
    margin: 0 auto;

    tr {
      &:nth-child(1) {
        @include animate-opacity('lotteryentrytr100', 1);
        opacity: 1;
      }

      &:nth-child(2) {
        @include animate-opacity('lotteryentrytr091', 0.91);
        opacity: 0.91;
      }

      &:nth-child(3) {
        @include animate-opacity('lotteryentrytr082', 0.82);
        opacity: 0.82;
      }

      &:nth-child(4) {
        @include animate-opacity('lotteryentrytr073', 0.73);
        opacity: 0.73;
      }

      &:nth-child(5) {
        @include animate-opacity('lotteryentrytr064', 0.64);
        opacity: 0.64;
      }

      &:nth-child(6) {
        @include animate-opacity('lotteryentrytr055', 0.55);
        opacity: 0.55;
      }

      &:nth-child(7) {
        @include animate-opacity('lotteryentrytr046', 0.46);
        opacity: 0.46;
      }

      &:nth-child(8) {
        @include animate-opacity('lotteryentrytr037', 0.37);
        opacity: 0.37;
      }

      &:nth-child(9) {
        @include animate-opacity('lotteryentrytr028', 0.28);
        opacity: 0.28;
      }

      &:nth-child(10) {
        @include animate-opacity('lotteryentrytr019', 0.19);
        opacity: 0.19;
      }
    }

    td {
      text-align: left;
      padding: 0.25em 0;

      &.addr {
        text-align: right;
      }
    }
  }
}
