link(rel="import" href="/components/bower/polymer/polymer.html")
link(rel="import" href="/components/bower/iron-icons/iron-icons.html")

link(rel="import" href="/components/3rdparty/lodash.html")
link(rel="import" href="/components/3rdparty/web3.html")
link(rel="import" href="/components/api/api.html")
link(rel="import" href="/components/datetime/datetime.html")
link(rel="import" href="/components/number/number.html")
link(rel="import" href="/components/page/page.html")
link(rel="import" href="/components/pubsub/pubsub.html")
  
dom-module#xyz-game-lottery
  template
    style !{readCompiled('lottery.css')}
    
    xyz-api#api
    xyz-pubsub#pubsub
    
    xyz-page-section.hidden(color="blue" opacity class$="[[visibleClass(current, 'round')]]")
      .stats
        .round
          .large {{current.round}}
          .normal rounds
        //.entries
          .large {{current.tickets}}
          .normal tickets
        .pool
          .large {{current.poolval}}
          .normal {{current.poolunit}}
        .time
          .large
            xyz-datetime-countdown(datetime="{{current.end}}" format="(long)")
          .normal time remaining
  
    xyz-page-section(color="blue-dark" opacity size="small" shadow)
      .hidden(class$="[[visibleClass(config, 'price')]]")
        .contract.right
          xyz-number-wei(number="{{config.min}}")
          span &nbsp;-&nbsp;
          xyz-number-wei(number="{{config.max}}")
          iron-icon(icon="icons:input")
          span {{config.addr}}
          //span ({{config.edge}}% commission)
          
    xyz-page-section.hidden(color="green" size="small" class$="[[visibleClass(winner, 'round')]]")
      .center.winner
        iron-icon(icon="icons:donut-large")
        span round {{winner.round}}
        iron-icon(icon="icons:account-balance")
        xyz-number-wei(number="{{winner.value}}")
        iron-icon(icon="icons:trending-flat")
        iron-icon(icon="icons:perm-identity")
        span {{winner.addr}}
        iron-icon(icon="icons:history")
        xyz-datetime-elapsed(datetime="{{winner.at}}")
      
    xyz-page-section.hidden(size="small-top" class$="[[visibleClass(config, 'price')]]")
      .entries: table
        tbody
          template(is="dom-repeat" items="{{entries}}")
            tr.entry
              td.addr
                iron-icon(icon="icons:perm-identity")
                span {{item.addr}}
              td.value
                iron-icon(icon="icons:input")
                xyz-number-wei(number="{{item.value}}")
              //td.tickets
                iron-icon(icon="icons:content-copy")
                span {{item.tickets}}
              td.round
                iron-icon(icon="icons:donut-large")
                span round {{item.round}}
              td.when
                iron-icon(icon="icons:history")
                xyz-datetime-elapsed(datetime="{{item.at}}")
      
    xyz-page-section.hidden(color="gray" opacity class$="[[visibleClass(config, 'price')]]")
      p
        h3 operation and rules
      p
        ol
          li To enter, send between <xyz-number-wei number="{{config.min}}" class="bold"></xyz-number-wei> and <xyz-number-wei number="{{config.max}}" class="bold"></xyz-number-wei> to <span class="bold">{{config.addr}}</span>
          li Every <xyz-number-wei number="{{config.price}}" class="bold"></xyz-number-wei> you send buys one ticket, any value not a multiple of this will be returned
          li Tickets are automatically <span class="bold">allocated based on the value</span> you have sent
          li The game will finish a round when the timer expires and <span class="bold">at least {{config.minentries}} entries</span> are made
          li When <span class="bold">the maxiumum {{config.maxentries}} entries</span> are received, regardless of the number of tickets per entry or time elapsed, the round will finish
          li You can <span class="bold">enter as many times</span> as you like, with as many tickets per entry as you like ({{config.maxtickets}} tickets maxium per entry)
          li The game operates on a <span class="bold">{{config.edge}}% commission</span>, this is subtracted from the amount paid to the winner at the end of each round
          li There is only <span class="bold">one winner per round</span>, the winning address collects the full pool minus the applicable commission
    
  script !{readCompiled('lottery.js')}
