extends ../_template.jade

block imports
  link(rel="import" href="/components/game/lottery/lottery.html")

block content
  xyz-game-lottery
    
  xyz-page-section(color="gray" opacity size="small")
    .github
      a(href="https://github.com/thelooneyfarm/contracts/tree/master/lottery" target="_blank")
        img(src="/images/github-16.png")
