xyz-page-section(size="small-top").about
  .detail
    h2 about our games
    
    p.
      Everything you find here is built on the <span class="bold">Ethereum infrastructure</span>, which means games are played and evaluated in a distributed manner - even if we are not available due to some freak of nature, the games will be. You send transactions to the network and it gets executed. No centralization.
    
    p.
      As a start, we don't have too much on offer, rather the first contracts forms a basis for getting the infrastructure in place. It is a <span class="bold">minimum collection</span>, however provides just enough to show the early features we wish to offer.
    
    p.
      Most importantly, we are all here to <span class="bold">have fun</span>. And yes, that includes you. If you are not having fun, move along. You may win some, you may lose some, but it will <span class="bold">always be fair</span>.
  .icon.bg.bg-offset.chemist
