xyz-page-section(color="red" size="small")
  p.
    As at this point, Geth is busy re-syncing on the server (and not doing too well by any stretch of the imagination), so the game and game data interfaces UI here may not be immediately available.
    
xyz-page-section(color="maroon" size="small")
  p.
    The current Beta period is nearing completion. Thanks for all your participation, we sincerely hope you had fun - we for sure did. There are a number of places where <span class="bold">we need to sharpen our pencils</span> and tweak before we can really open things up with full confidence. Stay tuned.
  p.
    Views of the contracts, in it's current form <span class="bold">will be disabled at month-end</span> (29 Feb 2016, right after the lottery payout) to signal the completion of phase I. Phase II is around the corner - stronger &amp; better.
