xyz-page-section(color="maroon")
  p.
    The current Beta period is nearing completion. Thanks for all your participation, we sincerely hope you had fun - we for sure did. There are a number of places where <span class="bold">we need to sharpen our pencils</span> and tweak before we can really open things up with full confidence. Stay tuned.
  p.
    Views of the contracts, in it's current form <span class="bold">will be disabled tomorrow</span> (1 Mar 2016, after the lottery payout) to signal the completion of phase I. Phase II is around the corner - stronger &amp; better.
