xyz-page-section(color="gray").rules
  .detail
    h2 general rules
    
    ol
      li Only play with Ether you can afford to do without and has been specifically set aside for <span class="bold">entertainment purposes</span>.
      
      li You will gain some big numbers, <span class="bold">you may lose</span> some as well. The upswings are there, but so are the downswings.
      
      li We have a <span class="bold">commission of 0.50%</span> on all positive returns. This is used to keep these pages up and running.
      
      li According to the <span class="bold">law of big numbers</span>, over an infinite number of entries, you will be 0.5% down across all games. It is just how it works.
      
      li Always <span class="bold">have fun</span>. If you are not having fun, you really should go elsewhere.
      
      li If you are having fun, <span class="bold">tell everybody</span> about it - this is not Fight Club. Expansion benefits everybody with larger pools.
      
      li Everything is <span class="bold">developed in the open</span>, all code is available on <a href="https://github.com/thelooneyfarm/" target="_blank">GitHub</a>, which includes the <a href="https://github.com/thelooneyfarm/contracts" target="_blank">verified contracts</a>.
  .icon.bg.bg-offset.rules
