doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    
    block title
      title the.looney.farm
    
    link(rel="import" href="/components/bower/polymer/polymer.html")
    link(rel="import" href="/components/page/page.html")
    block imports
      
    link(href="//fonts.googleapis.com/css?family=Roboto:100,400,700" rel="stylesheet" type="text/css")
    link(rel="stylesheet" type="text/css" href="/client.css")
  
  body(unresolved)
    xyz-page
      block menu
        xyz-page-menu(pages='[\
{"name":"the.looney.farm","url":"/","color":"blue-gray"},\
{"name":"lottery","url":"/game/lottery/","color":"blue-dark"},\
{"name":"fifty","url":"/game/fifty/","color":"brown"},\
{"name":"dice","url":"/game/dice/","color":"orange"}]')
      
      block content
        
      xyz-page-section(color="gray" opacity size="small")
        .github
          a(href="https://github.com/thelooneyfarm" target="_blank")
            img(src="/images/github-16.png")
      
    script(src="/client.js")
