xyz-page-section(color="blue-gray")
  .hero
    .icon.bg.looney
    .blurb.
      <span class="bold">the.looney.farm</span> is a collection of smart contract games using Ether tokens, all playable on a distributed network in an open manner

xyz-page-section(color="blue-gray" size="small")
  .quip.right
    xyz-quip
      
xyz-page-section
  .games
    .game
      a(href="/game/lottery").line
        paper-button.bg.lottery(raised color="blue")
          span lottery
          iron-icon(icon="icons:exit-to-app")
    .game
      a(href="/game/fifty").line
        paper-button.bg.fifty(raised color="brown")
          span fifty
          iron-icon(icon="icons:exit-to-app")
    .game
      a.line
        paper-button.bg.dice(raised color="gray" disabled)
          span soon
