xyz-page-section(color="blue-gray")
  .hero
    .icon.bg.looney
    .blurb.medium.
      <span class="bold">the.looney.farm</span> is a collection of games, each a smart contract on the fully open &amp; distributed Ethereum network, all playable with Ether tokens

xyz-page-section(color="blue-gray" size="small")
  .quip.right
    xyz-quip
      
xyz-page-section
  .games
    .game
      a(href="/game/lottery").line.medium
        paper-button.bg.lottery(raised color="blue") lottery
    .game
      a(href="/game/fifty").line.medium
        paper-button.bg.fifty(raised color="brown") fifty
    .game
      a(href="/game/dice").line.medium
        paper-button.bg.dice(raised color="orange") dice
    .game
      a(href="/game/box").line.medium
        paper-button.bg.present(raised color="maroon") box
    //.game(disabled)
      a.line.medium
        paper-button.bg.box(raised color="gray" disabled) soon
    //.game(disabled)
      a.line.medium
        paper-button.bg.box(raised color="maroon" disabled) soon
