xyz-page-section(color="red").warning
  .icon.bg.bg-offset.warning
  .detail
    h2 warning
    
    p.
      In addition to being looney and generally aiming to attract the looney bunch, <span class="bold">we are in Beta</span>, very much like the Ethereum network. So don't go crazy. Only play with <span class="bold">Ether you can afford</span> to do without.
    
    p.
      Most of the games operate on a <span class="bold">commission of 0.50%</span> so over an infinite number of games, according to the law of big numbers, you will be down by that amount. At any point in time the averages may point in the wrong direction and <span class="bold">you could be up or down</span> by the GDP of a small African country. 
    
    p.
      And do remember, even a large network of distributed computing has no brain, so please use yours.
