@import "../base";

html {
}

body {
  background: $color-bg-body;
  color: $color-font-base;
  font-family: $font-default;

  margin: 0;
  -webkit-text-size-adjust: 100%;
}

body[unresolved] {
  display: none;
}

.github {
  text-align: right;
  opacity: 0.5;
}

.hero {
  font-size: $font-size-medium;
  line-height: $golden-ratio;
  text-align: center;

  @include outer-container;

  .icon {
    @include span-columns(4);
  }

  .blurb {
    @include span-columns(8);
  }
}

.quip {
  text-align: right;
}

.bg {
  position: relative;
  min-height: 1px;

  &::before {
    content: " ";
    position: absolute;
    right: 1em;
    width: 140px;
    height: 140px;
    background-repeat: no-repeat !important;
    background-position: 0 0 !important;
  }

  &.bg-left {
    padding-left: 220px;

    &::before {
      right: auto;
      left: 1em;
    }
  }

  &.bg-right {
    padding-right: 220px;

    &::before {
      left: auto;
      right: 1em;
    }
  }

  &.chemist::before {
    background-image: url('/images/chemist-50.png');
  }

  &.dice::before {
    background-image: url('/images/dice-25.png')
  }

  &.fifty::before {
    background-image: url('/images/slots-inv-50.png')
  }

  &.looney::before {
    background-image: url('/images/looney-inv-50.png');
  }

  &.lottery::before {
    background-image: url('/images/ticket-inv-50.png')
  }

  &.rules::before {
    background-image: url('/images/whiteboard-50.png');
  }

  &.warning::before {
    background-image: url('/images/look-inv-50.png');
  }
}

.games {
  text-align: center;

  .game {
    height: 150px;
    border-radius: 1em;
    text-align: left;

    @include span-columns(4);

    a.line {
      color: inherit;
      cursor: pointer;
      display: inline-block;
      width: 100%;

      @include vertical-align;

      paper-button {
        vertical-align: middle;
        width: 100%;
        text-transform: none;
        text-align: left;

        span {
          display: inline-block;
          line-height: 150px; // 24px;
          vertical-align: middle;
          margin: 0 5px;
        }
      }
    }

    &[disabled] {
      a.line {
        opacity: 0.5;
        cursor: default;

        paper-button {
          color: inherit;
        }
      }
    }
  }
}
