@import "../base";

html {
}

body {
  background: $color-bg-body;
  color: $color-font-base;
  font-family: $font-default;

  margin: 0;
  -webkit-text-size-adjust: 100%;
}

body[unresolved] {
  display: none;
}

.github {
  text-align: right;
  opacity: 0.5;
}

.hero {
  font-size: $font-size-medium;
  line-height: $golden-ratio;
  text-align: center;

  @include outer-container;

  .icon {
    @include span-columns(4);
  }

  .blurb {
    @include span-columns(8);
  }
}

.quip {
  text-align: right;
}

.bg {
  background-repeat: no-repeat !important;
  background-position: 50% 50% !important;
  min-height: 140px;

  &.bg-left {
    background-position: 0% 50% !important;
    padding-left: 220px;
  }

  &.bg-right {
    background-position: 100% 50% !important;
    padding-right: 220px;
  }

  &.chemist {
    background-image: url('/images/chemist-50.png');
  }

  &.dice {
    background-image: url('/images/dice-25.png')
  }

  &.fifty {
    background-image: url('/images/slots-inv-50.png')
  }

  &.looney {
    background-image: url('/images/looney-inv-50.png');
  }

  &.lottery {
    background-image: url('/images/ticket-inv-50.png')
  }

  &.rules {
    background-image: url('/images/whiteboard-50.png');
  }

  &.shock {
    background-image: url('/images/shock-inv-50.png');
  }
}

.games {
  text-align: center;

  .game {
    height: 150px;
    border-radius: 1em;
    text-align: center;

    @include span-columns(4);

    a.line {
      color: inherit;
      cursor: pointer;
      display: inline-block;
      width: 100%;

      @include vertical-align;

      paper-button {
        vertical-align: middle;
        width: 100%;
        text-align: right;
        text-transform: none;

        span {
          display: inline-block;
          line-height: 150px; // 24px;
          vertical-align: middle;
          margin: 0 5px;
        }
      }
    }

    &[disabled] {
      a.line {
        opacity: 0.5;
        cursor: default;

        paper-button {
          color: inherit;
        }
      }
    }
  }
}
