@import "../base";

html {
}

body {
  background: $color-bg-body;
  color: $color-font-base;
  font-family: $font-default;

  margin: 0;
  -webkit-text-size-adjust: 100%;
}

body[unresolved] {
  display: none;
}

.github {
  text-align: right;
  opacity: 0.5;
}

.hero {
  //font-size: $font-size-medium;
  font-weight: 100;
  //line-height: $golden-ratio;
  text-align: center;

  @include outer-container;

  .icon {
    @include span-columns(4);
  }

  .blurb {
    @include span-columns(8);
  }
}

.warning, .about, .rules {
  .icon {
    @include span-columns(3);
  }

  .detail {
    @include span-columns(9);
  }
}

.quip {
  text-align: right;
}

.games {
  text-align: center;
  @include row();

  &+.games {
    margin-top: 1em;
  }

  .game {
    border-radius: 1em;

    @include span-columns(3);

    &.offset {
      @include shift(2);
    }

    a.line {
      color: inherit;
      display: inline-block;
      width: 100%;

      iron-icon {
        color: inherit;
      }

      paper-button {
        vertical-align: middle;
        width: 100%;
        text-transform: none;
        padding: 0.3em 0.57em;
        display: inline-block;
        line-height: 150px; // 24px;
        vertical-align: middle;
      }
    }

    &[disabled] {
      a.line {
        opacity: 0.5;
        cursor: default;

        paper-button {
          color: inherit;
        }
      }
    }
  }
}
