extends ./_template.jade

block imports
  link(rel="import" href="/components/bower/iron-icons/iron-icons.html")
  link(rel="import" href="/components/bower/paper-button/paper-button.html")
  link(rel="import" href="/components/quip/quip.html")

block content
  include _top.jade
  include _about.jade
  include _warning.jade
  include _rules.jade
