xyz-page-section.hidden(class$="[[visibleClass(config, 'min')]]")
  .entries: table: tbody: template(is="dom-repeat" items="[[players]]")
    tr.entry
      td.addr
        iron-icon(icon="icons:perm-identity")
        span [[item.addr]]
      td.value
        iron-icon(icon="icons:input")
        xyz-number-wei(number="[[item.value]]")
      td.round
        iron-icon(icon="icons:donut-large")
        span round [[item.round]]
      td.tickets
        iron-icon(icon="icons:content-copy")
        span [[item.tickets]] tickets
      td.when
        iron-icon(icon="icons:history")
        xyz-datetime-elapsed(datetime="[[item.at]]")
      td.external
        a(href$="https://etherscan.io/tx/[[item.txhash]]" target="_blank")
          iron-icon(icon="icons:open-in-new")
          span etherscan
