@mixin animate-opacity($name, $opacity) {
  @include keyframes($name) {
    from {
      opacity: 0;
    }
    to {
      opacity: $opacity;
    }
  }

  @include animation($name $anim-duration);
}

@include keyframes(fadeIn) {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@mixin animFadeIn {
  @include animation(fadeIn $anim-duration);
}
