@import "../../base";

:root {
}

:host {
  display: block;
}

paper-tabs {
  display: inline-block;
}

.link, .link:visited, .link:hover {
  color: $color-font-white;
  text-decoration: none;
  line-height: 48px;
}
